body{
    background-color: rgba(182, 181, 181, 0.6);
    font-family: sans-serif;
}
h1{
    text-align: center;
    color: black;
    font-family: Bahnschrift, cursive;
    margin: 20px;
    padding: 10px;
}
.overskrift2{
    font-weight: 700;
    font-size: 22px;
    color: blue;
}
.listeSP{

}

    .større{
    color: orange;
    cursor: pointer;
    width: max-content;
    display: block;
}

#navn{
    color: orange;
}
#navn:hover{
    color: rgb(128, 128, 128);
    cursor: pointer;
}
.navn_dato{
    color: rgb(128, 128, 128);
    font-size: 15px;
}
.bilde{
    width:100%
}
button{
    cursor: pointer;
}
button:hover{
    box-shadow: 1px 1px 1px;
}
.test{
    width: 20%
}
#paragraf2{
    margin-left: 50px;
}