body{
    background-color: rgba(0, 0, 0, 0.0);
    font-family: sans-serif;
}

.topp{
    background-color: rgb(255, 187, 0);
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0px;
}
.kropp{
    margin: 0px;
    font-family: "Arial";
    font-size: 18px;
}
.hoveddel{
    margin-left: 60px;
}
h1{
    text-align: center;
    color: black;
    font-family: Arial, cursive;
    margin: 20px;
    padding: 10px;
}
.overskrift2{
    font-weight: 700;
    font-size: 22px;
    color: blue;
}
.listeSP{
    margin-left: 20px;

}

    .større{
    color: orange;
    cursor: pointer;
    width: max-content;
    display: block;
}

#navn{
    color: orange;
}
#navn:hover{
    color: rgb(128, 128, 128);
    cursor: pointer;
}
.navn_dato{
    color: rgb(128, 128, 128);
    font-size: 15px;
}
.bilde{
    width:100%
}
button{
    cursor: pointer;
}
button:hover{
    box-shadow: 1px 1px 1px;
}
.test{
    width: 20%
}
#paragraf2{
    margin-left: 50px;
    line-height: 15pt;
}